@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.WHOLE
{
    display: flex;
    flex-direction: row;
    height: 92vh; 
    justify-content: center;
}

.REGISTERS
{
    background-color: #ec625f;    
    height: 98%;
    width: 18vw;
    margin: auto;
    border-radius: 5px;    
    overflow-y:scroll;
    text-align: center;
}

.register{
    font-size: 1.1rem;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
.SIMP
{
    margin: auto;
    height: 98%;
    width: 80vw;    
    display: flex;
    flex-direction: column;
}

.IPM
{
    height: 80%;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.CONSOLE
{
    background-color:#525252;
    color: #63676e;
    height: 19%;
    width: 99%;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    overflow-y: scroll;
}

.INPUT
{
    height:100%;
    width: 80%;
    margin-right: 0.5vw;
    display: flex;

}
.MEMORY
{
    background-color: #525252;
    border: 1px solid #797979;
    height: 99%;
    width:30%;
    margin-top: 0;
    border-radius: 5px;
    overflow-y: scroll; 
    text-align: center;
}
.memwrapper{
    display: flex;
    justify-content: space-between;
    color: rgb(189, 189, 189);
    font-size: 1.1rem;
    padding: 5px;
}
.memadd{

}
.memvalue{

}
.memorylocation{
    padding: 5px;
    color: rgb(189, 189, 189);
}


.BUTTONS
{
    background-color: #ff0000;
    height: 5vh;
    width:  100%;
    padding: 2px;
    border-radius: 5px;
}

.TEXTAREA textarea
{
    background-color: #414141;
    color: rgb(189, 189, 189);
    font-family: 'Source Code Pro', monospace;
    margin-top: none;
    resize: none;
    height: 98%;
    width: 59.5vw;
    outline: none;
    margin: auto;
    border-radius: 5px;
    overflow-y:visible;
}



.TEXTAREA textarea::-webkit-scrollbar {
    width: 0.6vw;
    background-color: transparent;
}

.TEXTAREA textarea::-webkit-scrollbar-corner {
    background-color: transparent;
}

.TEXTAREA textarea::-webkit-scrollbar-thumb {
    background-color: #313131;
    border: 0.8vw solid #313131;
    border-radius: 5px;
}

.REGISTERS::-webkit-scrollbar {
    width: 0.2vw;
    background-color: transparent;
}

.REGISTERS::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}
::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.REGISTERS::-webkit-scrollbar-corner {
    background-color: transparent;
}

.REGISTERS::-webkit-scrollbar-thumb {
    background-color: #4a4d52;
    border: 0.6vw solid #282a2d;
    border-radius: 5px;
} 


.CONSOLE::-webkit-scrollbar {
    width: 0.8vw;
    background-color: transparent;
}

.CONSOLE::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.CONSOLE::-webkit-scrollbar-corner {
    background-color: transparent;
}

.CONSOLE::-webkit-scrollbar-thumb {
    background-color: #4a4d52;
    border: 0.8vw solid #282a2d;
    border-radius: 5px;
} 



.MEMORY::-webkit-scrollbar {
    width: 0.8vw;
    background-color: transparent;
}

.MEMORY::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}
.MEMORY::-webkit-scrollbar-corner {
    background-color: transparent;
}

.MEMORY::-webkit-scrollbar-thumb {
    background-color: #4a4d52;
    border: 0.8vw solid #282a2d;
    border-radius: 5px;
} 